In [1]:
### Pass 
# pyhton do nothing 
x = 0
if x < 0:
    print("negative")
elif x == 0:
    pass
else: 
    print("positive")

In [2]:
### break
# exit for loops entirely
sum = 0
n = 0
for i in range(2024):
    if sum > 2024-i:
        n += i-1
        break
    sum += i
n, sum

(63, 2016)

In [3]:
###Exercise Factorial
n = 5
n_fac = 1
for i in range(1,n+1):
    n_fac *= i
n_fac

In [4]:
# loop for binomial coefficient

k = 3
n_minus_k_fac = 1
for i in range(1, n-k+1):
    n_minus_k_fac *=i
n_choose_k = i
for i in range(k+1, n+1):
    n_choose_k *= i
n_choose_k /= n_minus_k_fac
n_choose_k

2382660.0

In [ ]:
# binomial coefficient 
fac = 1

if i < k:
    fac /= i
if i == k:
    pass
if i > k:
    fac *= i

In [6]:
### Function

# define a function
def square(x:float) -> float: #function annotation (define what should be input&output)
    """ explain the function """ #docstring
    return x**2


square(2)

4

In [ ]:
# multiple argument
# eg. y = mx + b

def linear_function(x:float, m:float=-1, b:float=0) -> float: #set default m, b value
    """  
    
    """
    return m*x + b

In [3]:
### Date
# datetime import
from datetime import datetime, date, time, timedelta


# creat a datetime object
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day

29

In [8]:
dt.date()

datetime.date(2011, 10, 29)

In [9]:
dt.time()

datetime.time(20, 30, 21)

In [10]:
# format the object 
dt.strftime("%Y-%m-%d %H:%M" )

'2011-10-29 20:30'

In [11]:
# parse strings into datetime objects:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [12]:
# Time differences
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [13]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [5]:
### execise: datetime
# create a list of the date of every day we have class this quarter
monday = datetime(2024, 3, 25)
wednesday = datetime(2023, 3, 27)
week = timedelta(days=7)
class_dates = []

while wednesday < datetime(2024, 5, 31):
    class_dates.append(monday)
    class_dates.append(wednesday)
    monday += week
    wednesday += week

[x.strftime("%Y-%m-%d") for x in class_dates]

['2024-03-25',
 '2023-03-27',
 '2024-04-01',
 '2023-04-03',
 '2024-04-08',
 '2023-04-10',
 '2024-04-15',
 '2023-04-17',
 '2024-04-22',
 '2023-04-24',
 '2024-04-29',
 '2023-05-01',
 '2024-05-06',
 '2023-05-08',
 '2024-05-13',
 '2023-05-15',
 '2024-05-20',
 '2023-05-22',
 '2024-05-27',
 '2023-05-29',
 '2024-06-03',
 '2023-06-05',
 '2024-06-10',
 '2023-06-12',
 '2024-06-17',
 '2023-06-19',
 '2024-06-24',
 '2023-06-26',
 '2024-07-01',
 '2023-07-03',
 '2024-07-08',
 '2023-07-10',
 '2024-07-15',
 '2023-07-17',
 '2024-07-22',
 '2023-07-24',
 '2024-07-29',
 '2023-07-31',
 '2024-08-05',
 '2023-08-07',
 '2024-08-12',
 '2023-08-14',
 '2024-08-19',
 '2023-08-21',
 '2024-08-26',
 '2023-08-28',
 '2024-09-02',
 '2023-09-04',
 '2024-09-09',
 '2023-09-11',
 '2024-09-16',
 '2023-09-18',
 '2024-09-23',
 '2023-09-25',
 '2024-09-30',
 '2023-10-02',
 '2024-10-07',
 '2023-10-09',
 '2024-10-14',
 '2023-10-16',
 '2024-10-21',
 '2023-10-23',
 '2024-10-28',
 '2023-10-30',
 '2024-11-04',
 '2023-11-06',
 '2024-11-11',
 '2023-11-13',
 '2024-11-18',
 '2023-11-20',
 '2024-11-25',
 '2023-11-27',
 '2024-12-02',
 '2023-12-04',
 '2024-12-09',
 '2023-12-11',
 '2024-12-16',
 '2023-12-18',
 '2024-12-23',
 '2023-12-25',
 '2024-12-30',
 '2024-01-01',
 '2025-01-06',
 '2024-01-08',
 '2025-01-13',
 '2024-01-15',
 '2025-01-20',
 '2024-01-22',
 '2025-01-27',
 '2024-01-29',
 '2025-02-03',
 '2024-02-05',
 '2025-02-10',
 '2024-02-12',
 '2025-02-17',
 '2024-02-19',
 '2025-02-24',
 '2024-02-26',
 '2025-03-03',
 '2024-03-04',
 '2025-03-10',
 '2024-03-11',
 '2025-03-17',
 '2024-03-18',
 '2025-03-24',
 '2024-03-25',
 '2025-03-31',
 '2024-04-01',
 '2025-04-07',
 '2024-04-08',
 '2025-04-14',
 '2024-04-15',
 '2025-04-21',
 '2024-04-22',
 '2025-04-28',
 '2024-04-29',
 '2025-05-05',
 '2024-05-06',
 '2025-05-12',
 '2024-05-13',
 '2025-05-19',
 '2024-05-20',
 '2025-05-26',
 '2024-05-27']

In [8]:
### Importing

# some_module.py
PI = 3.14159
# access value from'/function in another file
def f(x):
    return x + 2

def g(a,b):
    return a + b
# alternative import (only certain module)

# access these value/functions in another file
import some_module
retult = some_module.f(5)
pi = some_module.PI

# alternative import
from some_module import g, PI
result = g(5, PI)

# import everything
from some_module import *

ModuleNotFoundError: No module named 'some_module'

In [ ]:
### as 
import some_module as sum