In [1]:
### Pandas
import pandas as pd

In [3]:
### Serise
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
# has index like dict
obj2 = pd.Series([4, 7, -5, 3], index=["d", "b", "a", "c"])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [5]:
# indexing Series
obj2["a"]

-5

In [10]:
# boolean indexing
obj2[obj2>2]

d    4
b    7
c    3
dtype: int64

In [12]:
# with boolean indexing, still using the array, index
obj2[obj2>2].array
obj2[obj2>2].index

Index(['d', 'b', 'c'], dtype='object')

In [14]:
#creating Series from dict
sdata ={"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 500}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah        500
dtype: int64

In [15]:
# reverse dict
obj3.to_dict

<bound method Series.to_dict of Ohio      35000
Texas     71000
Oregon    16000
Utah        500
dtype: int64>

In [16]:
# providing index to Series
# match each of them
states = ["Califoria", "Ohio","Oregon", "Texas"]
obj4 = pd.Series(sdata, index=states)
obj4

Califoria        NaN
Ohio         35000.0
Oregon       16000.0
Texas        71000.0
dtype: float64

In [17]:
# NaN
pd.isna(obj4)

Califoria     True
Ohio         False
Oregon       False
Texas        False
dtype: bool

In [18]:
# look at array that null values reomved
obj4[~pd.isna(obj4)]

Ohio      35000.0
Oregon    16000.0
Texas     71000.0
dtype: float64

In [19]:
# ignored by default in pandas aggregation methods
obj4.sum(skipna=False)

122000.0

In [20]:
# be safe on previous
obj4.sum(skipna=False)

nan

In [21]:
### DataFrame
data = {"states": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2002],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

   states  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2002  3.2

In [22]:
# head 
frame.head(2)

  states  year  pop
0   Ohio  2000  1.5
1   Ohio  2001  1.7

In [23]:
# tail
frame.tail(2)

   states  year  pop
4  Nevada  2002  2.9
5  Nevada  2002  3.2

In [42]:
### Exercise: numpy Array as DataFrame
#Look up pd.DataFrame's documentation and create a 1000*26
#DataFrame where each column has a letter of the alphabet as its header, and its rows are 1000 Poisson random variables.

import pandas as pd
import numpy as np

rows = 1000
cols = 26  
poisson_data = np.random.poisson(lam=1, size=(rows, cols))

column_headers = [chr(letter) for letter in range(ord('A'), ord('A') + cols)]

poisson_df = pd.DataFrame(poisson_data, columns=column_headers)

poisson_df.head()  # Display the first 5 rows of the DataFrame

   A  B  C  D  E  F  G  H  I  J  ...  Q  R  S  T  U  V  W  X  Y  Z
0  0  1  0  1  1  0  0  1  2  0  ...  2  3  0  2  2  1  3  1  2  1
1  2  0  0  2  2  1  0  3  0  0  ...  1  1  1  1  0  0  0  0  1  4
2  0  0  2  0  0  2  3  2  1  0  ...  2  1  1  0  0  2  0  1  0  2
3  1  1  1  1  2  1  0  0  0  0  ...  0  0  2  0  0  2  0  3  1  0
4  0  1  0  1  1  0  0  2  1  0  ...  1  0  1  0  0  1  4  0  1  1

[5 rows x 26 columns]

In [44]:
# selecting a column
frame.states

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: states, dtype: object

In [45]:
# or
frame['states']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: states, dtype: object

In [47]:
# Selecting columns
# using double []: 
frame[['states']]

   states
0    Ohio
1    Ohio
2    Ohio
3  Nevada
4  Nevada
5  Nevada

In [54]:
# creating variables
frame['debt'] = 1.5
frame['debt2'] = np.arange(len(frame)) # column vector
frame

   states  year  pop  debt  debt2
0    Ohio  2000  1.5   1.5      0
1    Ohio  2001  1.7   1.5      1
2    Ohio  2002  3.6   1.5      2
3  Nevada  2001  2.4   1.5      3
4  Nevada  2002  2.9   1.5      4
5  Nevada  2002  3.2   1.5      5

In [50]:
# reindexing
obj= pd.Series([4.5, 7.2, -5.3, 3.6], index=["d", "b", "a", "c"])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [51]:
# set a new index 
obj.reindex(["a", "b", "c", "d"])

a   -5.3
b    7.2
c    3.6
d    4.5
dtype: float64

In [ ]:
# reindex for economic data

In [ ]:
# default reindex behavior


# interpolate NaH data: ffilll

In [ ]:
# pandas indexing (.loc)

In [52]:
# indexing using index values

In [ ]:
# value assign using  (.loc)

In [ ]:
# ufuncs with pandas

In [55]:
# np.abs
np.abs(frame)

TypeError: bad operand type for abs(): 'str'

In [ ]:
# apply

In [ ]:
### sorting

In [ ]:
# unique

In [56]:
### loading data
from io import StringIO # no need use String0 if reading from a file
raw_csv_file = StringIO("""
                        a, b, c,
                        
                        """)